body {padding-top:20px;padding-bottom: 40px;}

/* Custom container */
.container-narrow {margin: 0 auto;max-width: 700px;}
.container-narrow > hr {margin: 30px 0;}

/* Main marketing message and sign up button */
.jumbotron {margin: 60px 0;text-align: center;padding: 70px 0 80px;background:url('../img/bg.jpg') repeat center center;opacity:0.9;color:#fff;}
.jumbotron h1 {font-size: 72px;line-height: 1;}
.jumbotron .btn {font-size: 21px;padding: 14px 24px;}

.controls textarea{width:70%;}
img.timeline{float: left;padding: 1%;}
.timeline-tweets{margin-bottom:1%;background:rgba(240,240,240,1);height:80px;}
.timeline-tweets p{padding-top:0.5%;margin:0%;}
.timeline-close{float: right;padding-right: 1%;}